body{
    margin: 0px;
    background-color: whitesmoke;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li{
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    margin: 0px;
    padding: 0px;
  }
.style-div{
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
}
table, th, td{
    border: 1.5px solid grey;
    border-collapse: collapse;
}
input[type=text],input[type=date],input[type=number],input[type=email],input[type=password], select {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}